<div id='conversation-<%=project_conversation.id%>'>
  <p>
    <em>[<%=project_conversation.created_at%>]</em>
    <strong><%=project_conversation.user.email%>: </strong>
    <%#= mention_link project_conversation.content%>
    <%= sanitize mention_link(project_conversation.content),
        tags: %w(a), attributes: %w(href) %>
  </p>
</div>
