<div id='conversation-<%=project_conversation.id%>'>
  <p>
    <em>[<%=project_conversation.created_at%>]</em>
    <strong><%=project_conversation.user.email%>: </strong>
    <%= sanitize mention_link(project_conversation.content),
        tags: %w(span), attributes: %w(class) %>
  </p>
</div>
