<div id='conversation-<%=project_conversation.id%>'>
  <p>
    <em>[<%=project_conversation.created_at%>]</em>
    <strong><%=project_conversation.user.email%>: </strong>
    <%=project_conversation.content%>
  </p>
</div>
