<!--
<p class="project-dsc"><small> <strong>Project name:</strong><%#= @project.name %></small></p>
<p class="project-dsc"><small><strong>Description:</strong> <%#= @project.description %></small></p>
<p class="project-dsc"><small><strong>Owner:</strong> <%#= @project.user.email %></small></p>
-->

<div class="row">
  <div class="col-md-4">
    <h4 class="board-task-header text-center"><strong>Backlog</strong></h4>
    <div class="board-scroll">
      <%= render partial: "task_state_backlog", locals: {state: "Backlog" } %>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="board-task-header text-center"><strong>In Progress</strong></h4>
    <div class="board-scroll">
      <%= render partial: "task_state", locals: {state: "Progress" } %>
    </div>
  </div>
  <div class="col-md-4">
    <h4 class="board-task-header text-center"><strong>Done</strong></h4>
    <div class="board-scroll">
      <%= render partial: "task_state", locals: {state: "Done" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="conversation-scroll">
    </div>
  </div>
</div>
