@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}


.navbar-default {
  background-color: #393939;
  border-color: #2d272f;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #dcdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #D6D6D6;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #5b555e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #D6D6D6;
  background-color: #2d272f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #5b555e;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #D6D6D6;
  background-color: #2d272f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #D6D6D6;
  background-color: #2d272f;
}
.navbar-default .navbar-toggle {
  border-color: #2d272f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2d272f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #D6D6D6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dcdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dcdbff;
    background-color: #2d272f;
  }
}

.navbar {min-height:20px !important}


.navbar-search, .navbar-brand, form.navbar-form  {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.navbar-nav > li > a {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top:8px !important;
    padding-bottom:8px !important;
}

li.active {
    /*padding-top:2px !important;*/
    margin-top: 0px !important;
}

input.search-query {
    margin-bottom: 0px !important;
}

input#srch-term.form-control, button.btn.btn-default.search-btn {
    margin-bottom: 0px;
    padding-top:2px;
    padding-bottom:2px;
}

.task-title {
    background-color: #DDDDDD;
    border:3px solid #D5D5D5;
    border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
}

.task-detail {
    background-color: #F8F8F8;
}

td.title-btn, button.btn.btn-xs, td.pull-right {
    border: 0 !important;
    border-top: 0 !important;
}

table.project {
    table-layout: fixed;
    word-wrap: break-word;
    overflow-y: hidden;
}

th.project, td.project {
    border: 1px solid black;
    overflow: hidden;
}

table[id^=sortable-backlog] {
    margin-bottom: 0px !important;
}

[class^='task-milestone'] {
    border: 1px solid #bbb;
    background-color: #555;
    border:3px solid #444;
    border-bottom: 0;
    font-color: #eee;
    text-color: #eee;
    color: #eee;
    width: 100%;
    padding-top: 3px;
    padding-bottom:5px;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 0px;
    margin-top: 0px;
}

.task-nav {
    padding-left: 0 !important;
}

.btn.btn-xs.btn-link.pull-right.remove-milestone, .pull-right.remove-milestone {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0 !important;
    color: #DDD;
      &:hover {
         color: #BBB;
       }
}

.task-milestone-future {
    background-color: darken(#428bca, 30%);
    border-color: darken(#428bca, 40%);
}

.task-milestone-current {
    background-color: darken(#5cb85c, 30%);
    border-color: darken(#5cb85c, 40%);
}

.task-milestone-past {
    background-color: darken(#d9534f, 30%);
    border-color: darken(#d9534f, 40%);
}

.quick-project {
  border: 1px solid #bbb;
  width: 10%;
  margin-top: 5px ;
  padding-right: 5px;
  margin-bottom: 0px;
  background-color: white;
  height: 25px;
  line-height: 25px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
}

.title-next-btn {
  padding-right: 0px !important;
}

.board-scroll {
    border: solid #F1F1F1 4px;
    background-color: #FAFAFA;
    overflow-y: auto;
    height: 400px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.conversation-box {
    border: solid #F1F1F1 5px;
    background-color: #FAFAFA;
    margin-top: 10px;
    height: 180px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.conversation-scroll {
    overflow-y: auto;
    background-color: #F5F5F5;
    height: 130px;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    /*margin-bottom: 5px;*/
}

.board-task-header {
    border: 1px solid #F1F1F1;
    background-color: #F1F1F1;
    border:3px solid #F1F1F1;
    border-bottom: 0;
    font-color: #444;
    text-color: #444;
    color: #444;
    width: 100%;
    padding-top: 3px;
    padding-bottom:1px;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 0px;
    margin-top: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

.project-dsc {
  margin:0px;
}

.datepicker { z-index:1111 !important; }

.btn.btn-xs.board-task-header-btn {
  background-color: #F1F1F1;
  margin-left: auto;
}

.light-text{
  color: #DDD;
}

html { background: transparent }
/*html,body{background-color:#221B25;}*/
html,body{background-color:#2D272F;}

.project-board, .project-conversation {
  padding-right: 5px;
  padding-left: 5px;
}

.board-fence {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 18px;
  padding-left: 18px;
  border: 4px solid #281E2B;
  background-color: #241D26;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

header.navbar.navbar-static-top.navbar-default{
  margin-bottom: 5px;
}

h1, h2, h3 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  color: #777;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.control-label {
  color: #777;
}

.modal-content{
  background-color: #F1F1F1;
}

.table {
  background-color: #F1F1F1;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#project_conversation_content.active { background: rgba(#5B8AE3, 0.5); }
#project_conversation_content.hovered { background: #CCF; }

.task-mention {
    color: #0088CC;
    cursor: pointer;
    text-decoration: none;
}

.user-mention {
    color: #0088CC;
    cursor: pointer;
    text-decoration: none;
}

